Library/
Temp/
Logs/
Obj/
obj/
Build/
Builds/
build-v2/
UserSettings/
.vs/
.idea/
*.apk
*.csproj
*.sln
*.slnx
.utmp/
.vsconfig
PenaltyGame_BurstDebugInformation_DoNotShip/
PenaltyShootoutGame_BurstDebugInformation_DoNotShip/
penalty-game-v6_BackUpThisFolder_ButDontShipItWithYourGame/
Assets/Firebase/Plugins/x86_64/